<!DOCTYPE html>
    <html lang="en"
          xlmns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantillaBase :: head "></head>
    <body>
        <header th:replace="plantillaBase :: header"></header>

        <h1 class="display-3 text-center">Habitaciones</h1>

        <div class="my-3 mx-3">
            <!-- formulario agregar habitacion -->
            <div class="modal fade" id="agregarHabitacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Formulario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/agregarHabitacion}" method="post" th:object="${habitacion}">
                                <div class="form-group">
                                    <label for="precioDiario">Precio ($/día):</label>
                                    <input type="number" id = "precioDiario" name ="precioDiario" class = "form-control" required>
                                </div>

                                <!--modificar para que sea una lista select--->
                                <!--
                                <div class="form-group">
                                    <label for="tipoHabitacion">Tipo Habitación:</label>
                                    <input type="text" id = "tipoHabitacion" name ="tipoHabitacion" class = "form-control" required>
                                    <select class="form-select" aria-label="Default select example" id = "tipoHabitacion"
                                            th:field="*{tipoHabitacion}">
                                        <option th:each = "tipo: ${tipos}" value="${tipo}">[[${tipo}]]</option>
                                    </select>
                                </div>
                                -->

                                <div class="form-group">
                                    <label for="servicios">Servicios:</label>
                                    <input type="text" id = "servicios" name ="servicios" class = "form-control" disabled
                                        placeholder="Standard">
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- formulario eliminar habitacion -->
        <div class="modal fade" id="eliminarHabitacion" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel">Eliminar</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/eliminarHabitacion}" method="post" th:object="${idHabitacion}">
                            <div class="form-group">
                                <label for="idHabitacion">Id habitación:</label>
                                <input type="number" id = "idHabitacion" name ="idHabitacion" class = "form-control" required
                                       min="1">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${ habitaciones != null and !habitaciones.empty }">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Precio ($/día)</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Servicios</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="habitacion: ${habitaciones}">
                    <th scope="row">[[${habitacion.getId()}]]</th>
                    <td>$ [[${habitacion.getPrecioDiario()}]]</td>
                    <td>[[${habitacion.getTipoHabitacion()}]]</td>
                    <td>[[${habitacion.getServiciosHabitacion()}]]</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if = "${habitaciones == null or habitaciones.empty}"
             class="text-center p-2">
            <span>Lista de habitaciones vacía</span>
        </div>

        <!-- botones para modals-->
        <div class = "text-center">
            <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal"
                    data-bs-target="#agregarHabitacion"><i class="bi bi-plus-circle"></i> Agregar </button>

            <span> <button type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal"
                           data-bs-target="#eliminarHabitacion"> <i class="bi bi-x-circle"></i> Eliminar</button> </span>
        </div>

        <footer th:replace="plantillaBase :: footer"></footer>
    </body>
</html>